/-1.14-windows.xml
/.android
/.azuredatastudio
/.bash_history
/.cache
/.config
/.dotnet
/.eclipse
/.emulator_console_auth_token
/.gitconfig
/.gnupg
/.gradle
/.idea
/.ipython
/.jdks
/.jmc
/.lesshst
/.librarymanager
/.m2
/.matplotlib
/.nbi
/.nuget
/.ssh
/.templateengine
/.viminfo
/.vs
/.vscode
/3D Objects
/AndroidStudioProjects
/AppData
/AppMods
/Contacts
/CSLT-Vở thực hành-202106.pdf
/Desktop
/Documents
/Downloads
/Favorites
/java_error_in_pycharm64.hprof
/java_error_in_studio64.hprof
/Links
/MediaGet2
/Music
/NTUSER.DAT
/ntuser.dat.LOG1
/ntuser.dat.LOG2
/NTUSER.DAT{62fcfc8a-3966-11ee-a5fd-508140816526}.TM.blf
/NTUSER.DAT{62fcfc8a-3966-11ee-a5fd-508140816526}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{62fcfc8a-3966-11ee-a5fd-508140816526}.TMContainer00000000000000000002.regtrans-ms
/ntuser.ini
/OneDrive
/Pictures
/Recorded Calls
/Saved Games
/Searches
/source
/student.dat
/Temp
/thisinh.dat
/Tracing
/Videos
/webCore
/wekafiles
